body{
    background-image: url(./picture/main\ background.png);
    color: white;
 } 
button{
    width: 280px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color:rgb(173, 119, 119) ;
    position: relative;
    border: 1px solid black;
    box-shadow: 0 0 3px 3px white;
    color:black;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 100px;
    font-family: 'Itim', cursive;
    cursor: pointer;
    transition: all .7s;
}
button:hover{
    height: 43px;
    transition: 0.5s;
    border: 3px dashed rgb(255, 47, 47);
    background-color:#ff0a0a;
    color: blue;

}
.planet{
    width: 300px;
    border: 1px solid white;
    padding: 40px 0;
    text-align: center;
    gap: 100px;
   font-size: 36px;
   font-family: 'Itim', cursive;}
.planetContainer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.planetHeader{
    display: none;
    margin: auto;
    width: 200px;
    line-height: 100px;
}
.planet_list{
    text-align: center;
}